body {
    background-color: #303030;
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    height: 100vh;
}

.img-container {
    background-color: #f0f8ff;
    width: 230px;
    height: 320px;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right;
}

.url-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E4DFEC;
    margin-left: 20px;
    height: 320px;
    width: 500px;
    min-width: 500px;
}

.urls a {
    color: black;
    text-decoration: none;
}

.urls a:visited {
    color: black;
}

table {
    text-align: left;
    border-left: 1.5px solid #990000;
}

th,
td {
    padding: 5px 10px;
}

th {
    color: #990000;
    text-align: left;
}

td {
    text-align: left;
}